@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{  
    background-color: #AFEEEE;
    font-family: "Play", sans-serif;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    max-height: 5em;
}
.pag{
    text-align: center;
    padding: 20px;
}
.title-text{
    font-size: 1.5em;
}
.subtitle{
    font-size: 1em;
    margin-bottom: 20px;
}


.btn{
    background-color: #FF0000; /* Vermelho */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px; /* Bordas ligeiramente arredondadas para suavidade */
    box-shadow: 0 5px #B22222; /* Sombra para o efeito tridimensional */
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 20px;
}

.btn:hover {
    background-color: #CC0000; /* Laranja Vermelho Escuro */
}

.btn:active {
    box-shadow: 0 2px #B22222;
    transform: translateY(3px); /* Efeito de "clicado" */
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 600px) {
    #img{
        max-width: 80%;
    }
    .btn{
        padding: 10px 20px; /* Reduzindo o padding */
        font-size: 16px; /* Diminuindo o tamanho da fonte */
        margin: 10px;
    }

}